/*NAVBAR*/

#main-navbar {
    background-color: rgba(0, 0, 0, 0.01);
    width: 100%;
    backdrop-filter: blur(5px);
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    letter-spacing: 0.1em;
}

.navbar-dark a.navbar-brand {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.navbar-dark .navbar-toggler {
    border-color: transparent;
}

.pp {
    border-radius: 50%;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
}

/*HERO*/

#hero {
    display: flex;
    align-items: center;
    background: url('../img/hero.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
    height: 100vh;
    background-size: cover;

}

#hero h1 span {
    font-weight: 400;
}

.herotext {
    display: flex;
}

#hero h1 {
    font-size: 1.35em;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}


#main-info {
    background-color: transparent;
    margin-top: -100px;
}

/*MAIN CARD*/

#info h1 {
    text-align: center;
    font-size: 2em;
    margin-top: 20px;
}

#info p{
    text-align: justify
}

/*QUALITY CARDS*/

#cards {
    margin-top: 50px;
}

.qcard {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 30px 50px;
}

.qcard p {
    margin-top: 40px;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
}

.midcard {
    margin-left: 0px;
    margin-right: 0px;
}

.qcard i {
    background: -webkit-linear-gradient(#7F00FF 0%, #E100FF 100%) 0% 0% no-repeat padding-box;
    background: -o-linear-gradient(#7F00FF 0%, #E100FF 100%) 0% 0% no-repeat padding-box;
    background: -moz-linear-gradient(#7F00FF 0%, #E100FF 100%) 0% 0% no-repeat padding-box;
    -webkit-background-clip: text;
    -o-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -o-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

/*SOBRE*/

#sobre {
    margin-top: 50px;
}

#exptitle {
    text-align: center;
    display: flex;
    flex-direction: column;
}

#educatitle {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.colexps h1 {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
}

.colexps p {
    text-align: justify;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.15em;
    font-weight: 400;
    display: none;
}

.card p {
    text-align: justify;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.15em;
    font-weight: 400;
    display: block;
}

.trigger {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.colexps {
    margin-top: 50px;
}

.trigger .mobile-trigger {
    color: #7F00FF;
}


.desktop#educatitle {
    display: none;
}

.desktop#exptitle {
    display: none;
}

.mobile-trigger{
    -webkit-animation: rotate-180 0.5s ease;
	-moz-animation: rotate-180 0.5s ease;
	-o-animation: rotate-180 0.5s ease;
	animation-fill-mode: forwards;
}

.mobile-trigger.rotate-button{
        -webkit-animation: rotate180 0.5s ease;
	-moz-animation: rotate180 0.5s ease;
	-o-animation: rotate180 0.5s ease;
	animation-fill-mode: forwards;
}

.collapse a{
    color:#7F00FF;
    text-decoration: none;
    text-align: center
}


@-webkit-keyframes rotate180 {
	from { transform: rotate(0deg); }
	to { transform: rotate(180deg); }
}

@-moz-keyframes rotate180 {
	from { transform: rotate(0deg); }
	to { transform: rotate(180deg); }
}

@-o-keyframes rotate180 {
	from { transform: rotate(0deg); }
	to { transform: rotate(180deg); }
}

@-webkit-keyframes rotate-180 {
	from { transform: rotate(180deg); }
	to { transform: rotate(0deg); }
}
@-moz-keyframes rotate-180 {
	from { transform: rotate(180deg); }
	to { transform: rotate(0deg); }
}
@-o-keyframes rotate-180 {
	from { transform: rotate(180deg); }
	to { transform: rotate(0deg); }
}


/*-----------------DESKTOP-----------------*/

@media only screen and (min-width: 768px) {

    /*NAVBAR*/

    .navbar-light .navbar-nav .nav-link {
        margin: 0 10px;
    }

    /*HERO*/

    #hero h1 {
        font-size: 3em;
    }

    .herotext {
        display: flex;
        margin-left: 13%;
    }

    /*MAIN CARD*/

    #main-info {
        margin-top: -100px;
        max-height: 600px;
        width: 70%;
        background: transparent linear-gradient(238deg, #7F00FF 0%, #E100FF 100%) 0% 0% no-repeat padding-box;
        box-shadow: 1px 8px 28px #00000029;
    }

    #main-info h1 {
        color: white;
        padding-bottom: 30px;
        text-align: end;
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
    }

    #main-info p {
        color: white;
        text-align: justify;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 1.15em;
        font-weight: 400;
    }

    #pic {
        padding: 0px;
        display: block;
    }

    #info {
        padding: 50px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    #info h1 {
        text-align: center;
        font-size: 2em;
        margin-top: 20px;
    }

    .pp {
        border-radius: 0%;
        width: auto;
    }

    /*QUALITY CARDS*/

    .qcard {
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 60px 40px;
        box-shadow: 1px 8px 28px #00000029;
    }

    .midcard {
        margin-left: 80px;
        margin-right: 80px;
    }

    #cards {
        margin-top: 100px;
        width: 70%;
    }

    .card p {
        text-align: center;
    }

    /*SOBRE*/

    #sobre {
        width: 70%;
        margin-top: 100px;
    }

    .prof h1,
    .prof p {
        color: white;
    }

    .colexps p {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        display: block;
    text-align: justify;
    }

    .colexps {
        padding: 50px 60px;
    }

    .prof {
        background: #7F00FF 0% 0% no-repeat padding-box;
        box-shadow: 1px 8px 28px #00000029;
    }

    #exptitle::after {
        width: 60px;
        margin-left: auto;
        margin-top: 15px;
        margin-right: auto;
        margin-bottom: 20px;
        height: 4px;
        background-color: white;
        content: "";
    }

    #educatitle::after {
        width: 60px;
        margin-left: auto;
        margin-top: 15px;
        margin-right: auto;
        margin-bottom: 20px;
        height: 4px;
        background-color: #7F00FF;
        content: "";
    }

    .trigger {
        display: none;
    }
    
    .desktop#educatitle {
    display: flex;
}

.desktop#exptitle {
    display: flex;
}

}