/*NAVBAR*/

#main-navbar {
    background-color: rgba(0,0,0,0.01);
    position: absolute;
    width: 100%;
    backdrop-filter: blur(5px);
}

.navbar-dark .navbar-nav .nav-link{
    color:white;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    letter-spacing: 0.1em;
}
.navbar-dark .navbar-nav .nav-link:hover{
    color: #E100FF;
}

.navbar-dark a.navbar-brand{
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.navbar-dark .navbar-toggler{
    border-color: transparent;
}

/*HERO*/

#hero {
    display: flex;
    align-items: center;
    background: url('../img/hero.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
    height: 100vh;
    background-size: cover;
    
}
    
#hero h1 span{
    font-weight: 400;    
}

#hero h1{
    font-size: 1.5em;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}


/*DESKTOP*/

@media only screen and (min-width: 768px) {
    #hero h1{
    font-size: 3em;
}  
    
    .herotext{
        display: flex;
        margin-left: 10%;
    }
    
    .navbar-light .navbar-nav .nav-link{
        margin: 0 10px;
}
}